*{
    margin: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient( 109.6deg,  rgb(42, 149, 149) 11.2%, rgba(51,8,103,1) 92.5% );
}
nav{
    background: #372240;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    position: fixed;
    width: 100%;
}
.nav__bar__logo{
    color: rgb(212, 212, 212);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bold;
}
.nav__bar__links{
    display: flex;
    justify-content: space-around;
    width: 30%;
    list-style: none;
}
.nav__bar__link a{
    color: rgb(212, 212, 212);
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 12px;
}

/* presentation section style */
.centralize__content{
    margin: auto;
    text-align: center;
}
.presentation__section{
    display: flex;
    height: 100vh;
}
.presentation__text__hello, .presentation__text__description{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    min-height: 1vh;
    letter-spacing: 5px;
}
.presentation__text__hello{
    color: #8de797;
}
.presentation__text__description{
    color: rgb(152, 207, 243);
}
.my__name__decoration{
    text-transform: uppercase;
    color: rgb(206, 175, 175);
    font-family: 'East Sea Dokdo', cursive;
    font-size: 90px;
}

/* portfolio gallery section */

.portfolio__section{
    display: block;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.header__section__name{
    text-transform: uppercase;
    padding: 20px 0px 100px 0px;
    font-size: 1.875rem;
    color: rgb(209, 209, 209);
    letter-spacing: 4px;
    /* font-weight: ; */
}
.project__header{
    color: rgb(209, 209, 209);
    text-transform: uppercase;
}
.used__technologies__header{
    color: rgb(209, 209, 209);
    text-transform: uppercase;
}
.array{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.array__of__projects{
    display: flex;
    flex-wrap: wrap;
    background: rgb(50, 129, 129, 0.3);
    margin: 0 auto;
    text-align: center;
    justify-content: space-around;
    max-width: 90vw;
    height: auto;
    letter-spacing: 2px;
}
.array{
    flex: 0 50%; 
    padding: 12vh 0px 12vh 0px;
}

.project__text__description{
    font-size: 15px;
    padding: 10px 0px 10px 0px;
    font-weight: 10;
    color: #8de797;
}
.used__technology__list{
    display: flex;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
}
.used__technology__item:first-child{
    padding: 5px 0px 5px 0px;
    margin: auto;

}
.used__technology__item:not(:first-child){
    padding: 5px 5px 5px 5px;
}
.used__technology__item{
    flex: auto;
    color: rgb(206, 175, 175);
}
hr{
    height: 0px;
    border: solid 1px rgb(209, 209, 209);;
}
.project__code__button{
    display: inline-block;
    margin-top: 20px;
    margin-left: 15px;
    padding: 5px;
    width: 100px;
    border: solid 1px #553962;
    background: #553962;
    color: #8de797;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}